<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Continents&Countries</title>
</head>
<body>
    <h1>Continents&Countries</h1>

    <form method="post">
        {% csrf_token %}
        <label for="continent">Continent:</label>
        <input type="text" id="continent" name="continent" required>
        <br>
        <label for="number">Number:</label>
        <input type="number" id="number" name="number" required>
        <br>
        <input type="submit" value="Submit">
    </form>

    {% for country in countries %}
    <div>
        <h2>{{ country.name }}</h2>
        <ul>
            <li>Capital: {{ country.capital }}</li>
            <li>Population: {{ country.population }}</li>
            <li>Currency: {{ country.currencies|join:", " }}</li>
            <li>Subregion: {{ country.subregion }}</li>
            <li>Languages: {{ country.languages|join:", " }}</li>
        </ul>
    </div>
    {% endfor %}

    {% if validation_message %}
        <script>alert("{{ validation_message }}");</script>
    {% endif %}
</body>
</html>